// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.menu-item {
  padding: 5px 10px;
  margin-bottom: 2px;
}

.menu-item.active {
  background-color: #0275d8;
  color: white;
}

.menu-item:hover {
  background-color: #AAA;
}
